*{
    margin: 0px;
    padding: 0px;
}

.contain{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sbox{
    height: 60vh;
    width: 30vw;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sbox1{
    height: 20vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

#sn{
    margin-top: 10%;
}

.sdiv{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bb:hover{
    color: white;
    background-color: green;

}